/* Acer "Imaginary Iconia Mini" Tab A599 (adventure mode landscape orientation)*/
@media screen and (min-width: 70em) {
    .posts article {
        flex-flow: row wrap;
        flex: 0 0 $tabletSideItemsSize;
    }

    .sidebar {
        flex-flow: row wrap;
        justify-content: space-around;
        section {
            width: $tabletSideItemsSize;
        }
    }
}
