/* first media query required by assignment */
@media screen and (min-width: 35em) and (max-width: 69.9em)
{
    .posts article {
        flex: 0 0 $tabletContentItemsSize;
    }

    .container {
        flex-direction: column;
    }

    .sidebar {
        flex-flow: row wrap;
        justify-content: center;
        .sidebar section {
            flex: 0 0 $tabletSideItemsSize;
        }
    }
}
