$themeHeaderFooterColor: #444444;
$themeHeaderText: #ffffff;
$themeContentColor: #dddddd;
$themeSideColor: #aaaaaa;
$themeSideMargins: .2em 0;
$themeSize: 1em;
$themeOnePx: 1px;
$contentParentSize: 98%;
$contentItemsSize: 95%;
$sideItemsSize: 90%;
$tabletLeftMargin: 13%;
$tabletContentItemsSize: 43%;
$tabletSideItemsSize: 27%;
$themeMultipler: 2;
